.img-fluid{
    /* margin-top: -4%; */
    scale: 50%;
    }

.theme-Color{
    color: #D95A11;
}

hr{
    width: 10%;
   position: relative;
   left: 45%;
    /* border-top-color: rgba(117, 117, 117, 0.09) */
}